# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\13. SSAFY\4. 알고리즘 스터디\명석\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
